body {
  background-image: url(frame.png);
}

.meme-image {
  max-width: 300px;
  max-height: 300px;
  margin: 20px 20px 20px 20px;
}

input {
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  width: 250px;
  margin-left: 10px;
  float: right;
}

select {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  width: 264px;
  margin-left: 10px;
  color: black;
  float: right;
}

h1 {
  color: #22225e;
}

label {
  color: black;
  font-weight: bold;
  float: left;
  font-size: 1.05em;
  margin-top: 5px;
}

.inputArea {
  margin: auto;
  width: 35%;
  border: 3px solid grey;
  padding: 30px;
  background: rgb(240, 236, 236, 0.8);
  display: block;
}

.inputFields {
  padding: 20px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
